<!-- Icon 6 -->
<div id="animated-menu-icon" class="ml-[14px] z-[1000000000000] hover:cursor-pointer">
  <label for="check" class="relative hover:cursor-pointer">
    <input
      id="check"
      type="checkbox"
      class="hidden check peer">
    <div class="relative flex overflow-hidden items-center justify-center rounded-md w-[50px] h-[50px] transform transition-all bg-red-700 ring-0 ring-red-300 hover:ring-8 peer-checked:ring-4 ring-opacity-30 duration-200 shadow-md group">
      <div class="flex flex-col justify-between w-[20px] h-[20px] transform transition-all duration-300 origin-center overflow-hidden group">
        <div class="bg-white h-[2px] w-7 transform transition-all duration-300 origin-left peer-checked:group-[]:translate-x-10"></div>
        <div class="bg-white h-[2px] w-7 rounded transform transition-all duration-300 peer-checked:group-[]:translate-x-10 delay-75"></div>
        <div class="bg-white h-[2px] w-7 transform transition-all duration-300 origin-left peer-checked:group-[]:translate-x-10 delay-150"></div>

        <div class="absolute items-center justify-between transform transition-all duration-500 top-2.5 -translate-x-10 peer-checked:group-[]:translate-x-0 flex w-0 peer-checked:w-12">
          <div class="absolute bg-white h-[2px] w-5 transform transition-all duration-500 rotate-0 delay-300 peer-checked:group-[]:rotate-45"></div>
          <div class="absolute bg-white h-[2px] w-5 transform transition-all duration-500 -rotate-0 delay-300 peer-checked:group-[]:-rotate-45"></div>
        </div>
      </div>
    </div>
  </label>
</div>