<!-- Icon 6 -->
<div id='animated-menu-icon' class='z-[1000000000000] ml-[14px] hover:cursor-pointer'>
  <label for='check' class='relative hover:cursor-pointer'>
    <input
      id='check'
      type='checkbox'
      class='check peer hidden'
    >
    <div class='group relative flex h-[50px] w-[50px] transform items-center justify-center overflow-hidden rounded-md bg-red-700 shadow-md ring-0 ring-red-300 ring-opacity-30 transition-all duration-200 hover:ring-8 peer-checked:ring-4'>
      <div class='group flex h-[20px] w-[20px] origin-center transform flex-col justify-between overflow-hidden transition-all duration-300'>
        <div
          class='h-[2px] w-7 origin-left transform bg-white transition-all duration-300 peer-checked:group-[]:translate-x-10'
        ></div>
        <div
          class='h-[2px] w-7 transform rounded bg-white transition-all delay-75 duration-300 peer-checked:group-[]:translate-x-10'
        ></div>
        <div
          class='h-[2px] w-7 origin-left transform bg-white transition-all delay-150 duration-300 peer-checked:group-[]:translate-x-10'
        ></div>

        <div class='absolute top-2.5 flex w-0 -translate-x-10 transform items-center justify-between transition-all duration-500 peer-checked:w-12 peer-checked:group-[]:translate-x-0'>
          <div
            class='absolute h-[2px] w-5 rotate-0 transform bg-white transition-all delay-300 duration-500 peer-checked:group-[]:rotate-45'
          ></div>
          <div
            class='absolute h-[2px] w-5 -rotate-0 transform bg-white transition-all delay-300 duration-500 peer-checked:group-[]:-rotate-45'
          ></div>
        </div>
      </div>
    </div>
  </label>
</div>
