<form action="/cart/add" method="post" class="flex flex-wrap justify-center gap-4 mt-8">
  <input
    type="hidden"
    name="id"
    value="{{ product.selected_or_first_available_variant.id }}"
  >
  <button
    type="submit"
    class="block w-full px-12 py-3 text-sm font-medium text-white bg-red-600 rounded-md shadow hover:bg-red-700 focus:outline-none focus:ring active:bg-red-500 sm:w-auto"
    href="{{ product.url }}"
  >
    Koop Nu
  </button>
</form>
