<form action='/cart/add' method='post' class='{{ classes }}'>
  <input
    type='hidden'
    name='id'
    value='{{ product.selected_or_first_available_variant.id }}'
  >
  <button
    type='submit'
    class='block w-full rounded-md bg-red-600 px-12 py-3 text-sm font-medium uppercase text-white shadow hover:bg-red-700 focus:outline-none focus:ring active:bg-red-500 sm:w-auto'
    href='{{ product.url }}'
  >
    Koop Nu
  </button>
  <a
    class='block w-full rounded-md bg-white px-12 py-3 text-sm font-medium uppercase text-red-600 shadow hover:text-red-700 focus:outline-none focus:ring active:text-red-500 sm:w-auto'
    href='{{product.url}}'
  >
    Ontdek Meer
  </a>
</form>
