{
  "plugins": ["@shopify/prettier-plugin-liquid", "prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.js",
  "tailwindPreserveDuplicates": true,
  "semi": true,
  "singleQuote": true
}
