<section class="bg-primary py-[100px]">
  <div class="mx-auto max-w-7xl">
    <h2 class="text-3xl font-bold text-center text-white uppercase">geliefd bij klanten</h2>
    <div class="grid grid-cols-1 gap-4 mx-auto mt-12 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
      <div class="flex flex-col items-center gap-2 p-5 bg-gray-medium rounded-xl">
        {% render 'top-quote' %}
        <div class="flex flex-col flex-grow gap-4 text-white review">
          <h3 class="text-lg font-bold review-title">Uitstekende Drone!</h3>
          <p class="review-text">
            Ik ben echt onder de indruk van de kwaliteit van deze drone. De vliegtijd is geweldig en de beelden die ik
            ermee kan maken zijn gewoonweg verbluffend. Zeker een aanrader!
          </p>
          <p class="mt-auto text-center review-author">- Jan De Vries</p>
        </div>
        {% render 'bottom-quote' %}
      </div>
      <div class="flex flex-col items-center gap-2 p-5 bg-gray-medium rounded-3xl">
        {% render 'top-quote' %}
        <div class="flex flex-col flex-grow gap-4 text-white review">
          <h3 class="text-lg font-bold review-title">Geweldige klantenservice</h3>
          <p class="review-text">
            Toen ik problemen had met mijn drone, was de klantenservice uiterst behulpzaam. Ze hielpen me door het
            probleem heen en ik was in no time weer in de lucht. Geweldige service!
          </p>
          <p class="mt-auto text-center review-author">- Els Van Dam</p>
        </div>
        {% render 'bottom-quote' %}
      </div>
      <div class="flex flex-col items-center gap-2 p-5 bg-gray-medium rounded-3xl">
        {% render 'top-quote' %}
        <div class="flex flex-col flex-grow gap-4 text-white review">
          <h3 class="text-lg font-bold review-title">Beste drone ooit</h3>
          <p class="review-text">
            Ik heb in het verleden andere drones gehad, maar deze overtreft ze allemaal. De besturing is soepel en de
            drone is zeer duurzaam. Ik ben er dol op!
          </p>
          <p class="mt-auto text-center review-author">- Pieter De Jong</p>
        </div>
        {% render 'bottom-quote' %}
      </div>
      <div class="flex flex-col items-center gap-2 p-5 bg-gray-medium rounded-3xl">
        {% render 'top-quote' %}
        <div class="flex flex-col flex-grow gap-4 text-white review">
          <h3 class="text-lg font-bold review-title">Perfect voor mijn behoeften</h3>
          <p class="review-text">
            Ik gebruik deze drone voor mijn fotografiebedrijf en het heeft mijn werk naar een hoger niveau getild. De
            beeldkwaliteit is uitstekend en het is zeer eenvoudig te bedienen. Ik kan het niet genoeg aanbevelen!
          </p>
          <p class="mt-auto text-center review-author">- Anna De Groot</p>
        </div>
        {% render 'bottom-quote' %}
      </div>
    </div>
  </div>
</section>
