<style>
  .margin-none {
    margin: 0;
  }

  .margin-small {
    margin: 10px 0;
  }

  .margin-medium {
    margin: 30px 0;
  }

  .margin-large {
    margin: 60px 0;
  }
</style>

<div class="flex flex-col items-center {{ section.settings.margin }}">
  <h1 class="text-3xl text-center">{{ section.settings.title }}</h1>
  <div class="max-w-6xl mx-auto">
    <div class="grid grid-cols-1 gap-4 tablet:grid-cols-2">
      {% for product in section.settings.featured_collection.products
        limit: section.settings.number_of_products_to_show
      %}
        {% render 'product-card', product: product, background_color: section.settings.background_color %}
      {% else %}
        {% for item in (1..4) %}
          {% render 'product-card-placeholder' %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured Collection",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "number_of_products_to_show",
      "min": 1,
      "max": 4,
      "default": 4,
      "label": "Number of products to show",
      "step": 1
    },
    {
      "type": "select",
      "id": "margin",
      "label": "Margin",
      "options": [
        {
          "value": "margin-none",
          "label": "None"
        },
        {
          "value": "margin-small",
          "label": "Small"
        },
        {
          "value": "margin-medium",
          "label": "Medium"
        },
        {
          "value": "margin-large",
          "label": "Large"
        }
      ],
      "default": "margin-large"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#ffffff"
    }
  ],
  "presets": [
    {
      "name": "Featured Collection"
    }
  ]
}
{% endschema %}
