{% assign default_product = all_products['tedroka-c-fly-drone-met-gps-4k-camera-vliegtijd-van-52-minuten-fpv-borstelloze-drone-professionele-drone-4k-uhd-video-inclusief-2-batterijen-powerbank-10-000-mah-draagbaretas-en-64-gb-sd-kaart'] %}

{% assign product = all_products[section.settings.product_highlight] %}
<section class="flex items-center hero-section gap-x-11">
  <div class="flex basis-1/2 flex-col items-start gap-[24px]">
    <h1 class="text-xs mobile:text-sm md:text-2xl lg:text-heading-1">TEDROKA®</h1>
    {% if product == null %}
      {% assign product = default_product %}
    {% endif %}
    <p class="uppercase text-body-1 mobile:text-body-4">{{ product.title }}</p>
    {% render 'buy-now-read-more-form', product: product %}
  </div>
  <figure>
    <img
      src="{{ product.images | last | img_url: 'large'}}"
      alt=""
      height="476"
      width="780"
      class=""
    >
  </figure>
</section>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "product",
      "id": "product_highlight",
      "label": "Hero"
    }
  ]
}
{% endschema %}
