{% assign highlighted_product_handle = all_products['c-fly-mini-drone-met-gps-4k-camera'] %}
<section class="py-[50px] bg-primary">
  <article class="grid grid-cols-1 py-12 text-white tablet:grid-cols-2 bg-hero-pattern">
    {% comment %} Left col {% endcomment %}
    <div class="flex flex-col items-center justify-between px-6">
      <div class="py-10">
        {% render 'logo' %}
      </div>
      <h2 class="text-3xl font-medium text-center">Vlieg Erboven En Verder.</h2>
      {% render 'buy-now-btn', product: highlighted_product_handle %}
    </div>
    {% comment %} Right col {% endcomment %}
    <div class="flex flex-col items-center bg-white rounded-lg basis-2/3">
      <figure class="">
        <img src="{{ highlighted_product_handle.featured_image | img_url: 'large' }}" alt="">
      </figure>
      <div class="p-4">
        <h3 class="p-4 text-white uppercase rounded-lg bg-gray-light ">{{ highlighted_product_handle.title }}</h3>
      </div>
    </div>
  </article>
</section>

{% schema %}
{
  "name": "Highlighted product",
  "settings": [
    {
      "type": "product",
      "id": "featured_product",
      "label": "Featured product"
    }
  ]
}
{% endschema %}
