<section class="py-[50px] bg-primary">
  <div class="grid max-w-6xl grid-cols-1 gap-4 mx-auto mobile:grid-cols-2 tablet:grid-cols-4">
    <figure class="p-20">
      <img
        class="object-contain w-full h-full"
        src="{{ 'minds.png' | asset_url }}"
        width="1599"
        height="588"
        alt="Minds image"
      >
    </figure>
    <figure class="p-20">
      <img
        class="object-contain w-full h-full"
        src="{{ 'ask.png' | asset_url }}"
        width="1024"
        height="780"
        alt="Minds image"
      >
    </figure>
    <figure class="p-20">
      <img
        class="object-contain w-full h-full"
        src="{{ 'digital-world.png' | asset_url }}"
        width="558"
        height="298"
        alt="Minds image"
      >
    </figure>
    <figure class="p-20">
      <img
        class="object-contain w-full h-full"
        src="{{ 'digital-journal.png' | asset_url }}"
        width="425"
        height="173"
        alt="Minds image"
      >
    </figure>
  </div>
</section>
