<div>
  <div class='relative flex items-center justify-center bg-gradient-to-b from-secondary to-red-400 py-16'>
    <div>
      <h1 class='text-3xl font-bold leading-10 text-white sm:text-4xl lg:text-5xl'>
        Hoe kunnen we je van dienst zijn?
      </h1>
      <div class='relative mt-6 flex w-full items-center rounded bg-red-800 py-4 pl-4 lg:mt-14'>
        <div>
          <img src='https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-3-svg1.svg' alt='search'>
        </div>
        <input
          type='text'
          placeholder='Zoek naar een antwoord'
          class='ml-4 w-full bg-transparent text-base leading-none text-white placeholder-white focus:outline-none'
        >
      </div>
    </div>
  </div>

  <div class='relative z-20 flex flex-col items-center justify-center px-6 pb-32 sm:px-0'>
    <div class='py-12'></div>
    <div class='w-full sm:w-9/12 md:w-8/12 lg:w-1/2'>
      <div class='rounded bg-white p-8 shadow dark:bg-gray-800'>
        <div class='flex items-center justify-between'>
          <div>
            <h2 class='text-base font-semibold leading-none text-gray-800 dark:text-white'>
              Kan ik het artikel retourneren als het niet voor mij werkt?
            </h2>
          </div>
          <button
            data-menu
            class='cursor-pointer rounded px-1 py-1.5 ring-offset-white focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-offset-2 dark:bg-gray-400'
          >
            <img class='hidden' src='https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-2-svg1.svg' alt='dropdown'>
            <img
              class='rotate-180 transform'
              src='https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-2-svg1.svg'
              alt='dropdown'
            >
          </button>
        </div>
        <ul class='hidden'>
          <li>
            <p class='mt-4 text-base leading-normal text-gray-600 lg:w-96 dark:text-gray-200'>
              Ja. Natuurlijk, als je product beschadigd is of niet werkt zoals beschreven, neem dan binnen 30 dagen na
              ontvangst van het product contact met ons op en je krijgt 100% geld terug.

              Uitzonderlijke ondersteuning . U kunt contact met ons opnemen door uw bericht hier te sturen:
              Contactpagina
            </p>
          </li>
        </ul>
      </div>
      <div class='mt-8 rounded bg-white p-8 shadow dark:bg-gray-800'>
        <div class='flex items-center justify-between'>
          <div>
            <h2 class='text-base font-semibold leading-none text-gray-800 dark:text-white'>
              Hoe controleer ik de status van mijn bestelling?
            </h2>
          </div>
          <button
            data-menu
            class='cursor-pointer rounded px-1 py-1.5 ring-offset-white focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-offset-2 dark:bg-gray-400'
          >
            <img class='hidden' src='https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-2-svg1.svg' alt='dropdown'>
            <img
              class='rotate-180 transform'
              src='https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-2-svg1.svg'
              alt='dropdown'
            >
          </button>
        </div>
        <ul class='hidden'>
          <li>
            <p class='mt-4 text-base leading-normal text-gray-600 lg:w-96 dark:text-gray-200'>
              U ontvangt uw betalingsbewijs onmiddellijk nadat u uw bestelling heeft geplaatst. Zodra uw bestelling is
              verzonden, ontvangt u uw trackingnummer. Bij elke stap kun je het gebruiken om te zien waar je pakket zich
              bevindt door naar onze
              <a href='https://tedroka.myshopify.com/apps/parcelpanel' class='text-secondary underline'>
                Track Order -pagina</a
              >
              te gaan.
            </p>
          </li>
        </ul>
      </div>
      <div class='mt-8 rounded bg-white p-8 shadow dark:bg-gray-800'>
        <div class='flex items-center justify-between'>
          <div>
            <h2 class='text-base font-semibold leading-none text-gray-800 dark:text-white'>
              Biedt u een kwaliteitsgarantie voor alle producten die worden verkocht?
            </h2>
          </div>
          <button
            data-menu
            class='cursor-pointer rounded px-1 py-1.5 ring-offset-white focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-offset-2 dark:bg-gray-400'
          >
            <img class='hidden' src='https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-2-svg1.svg' alt='dropdown'>
            <img
              class='rotate-180 transform'
              src='https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-2-svg1.svg'
              alt='dropdown'
            >
          </button>
        </div>
        <ul class='hidden'>
          <li>
            <p class='mt-4 text-base leading-normal text-gray-600 lg:w-96 dark:text-gray-200'>
              Absoluut! Als het product u niet bevalt of u vindt schade aan het product, neem dan onmiddellijk contact
              met ons op! We doen er alles aan om u de beste winkelervaring te bieden. U kunt gewoon contact met ons
              opnemen en wij zullen het voor u regelen!
            </p>
          </li>
        </ul>
      </div>
      <div class='mt-8 rounded bg-white p-8 shadow dark:bg-gray-800'>
        <div class='flex items-center justify-between'>
          <div>
            <h2 class='text-base font-semibold leading-none text-gray-800 dark:text-white'>
              Hoe kan ik met u in contact komen?
            </h2>
          </div>
          <button
            data-menu
            class='cursor-pointer rounded px-1 py-1.5 ring-offset-white focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-offset-2 dark:bg-gray-400'
          >
            <img class='hidden' src='https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-2-svg1.svg' alt='dropdown'>
            <img
              class='rotate-180 transform'
              src='https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-2-svg1.svg'
              alt='dropdown'
            >
          </button>
        </div>
        <ul class='hidden'>
          <li>
            <p class='mt-4 text-base leading-normal text-gray-600 lg:w-96 dark:text-gray-200'>
              We behandelen de klantenservice via e-mail.
              <a href='https://tedroka.myshopify.com/pages/contact' class='text-secondary underline'>Klik hier</a> Klik
              hier om een ​​chat met ons te openen en laat het ons weten als u vragen of opmerkingen heeft.
            </p>
          </li>
        </ul>
      </div>
      <div class='mt-8 rounded bg-white p-8 shadow dark:bg-gray-800'>
        <div class='flex items-center justify-between'>
          <div>
            <h2 class='text-base font-semibold leading-none text-gray-800 dark:text-white'>
              Bieden jullie een terugbetaling aan als ik het product niet leuk vind?
            </h2>
          </div>
          <button
            data-menu
            class='cursor-pointer rounded px-1 py-1.5 ring-offset-white focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-offset-2 dark:bg-gray-400'
          >
            <img class='hidden' src='https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-2-svg1.svg' alt='dropdown'>
            <img
              class='rotate-180 transform'
              src='https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-2-svg1.svg'
              alt='dropdown'
            >
          </button>
        </div>
        <ul class='hidden'>
          <li>
            <p class='mt-4 text-base leading-normal text-gray-600 lg:w-96 dark:text-gray-200'>
              Absoluut! We bieden een volledige terugbetaling van uw bestelling als het product u niet bevalt of als het
              niet bij uw levensstijl past. Neem gewoon contact met ons op en we zullen dingen voor u oplossen.

              Er is geen nadeel. Onze klanten blijven rapporteren hoeveel het hen helpt in hun dagelijks leven!
            </p>
          </li>
        </ul>
      </div>
      <div class='mt-8 rounded bg-white p-8 shadow dark:bg-gray-800'>
        <div class='flex items-center justify-between'>
          <div>
            <h2 class='text-base font-semibold leading-none text-gray-800 dark:text-white'>
              Hoe bestel ik op jullie website?
            </h2>
          </div>
          <button
            data-menu
            class='cursor-pointer rounded px-1 py-1.5 ring-offset-white focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-offset-2 dark:bg-gray-400'
          >
            <img class='hidden' src='https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-2-svg1.svg' alt='dropdown'>
            <img
              class='rotate-180 transform'
              src='https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-2-svg1.svg'
              alt='dropdown'
            >
          </button>
        </div>
        <ul class='hidden'>
          <li>
            <p class='mt-4 text-base leading-normal text-gray-600 lg:w-96 dark:text-gray-200'>
              Selecteer gewoon de aanbieding hierboven en klik op de knop 'Nu kopen'. Vul uw verzend- en factuurgegevens
              in en we zullen uw bestelling zo snel mogelijk naar u verzenden! De cheque is beveiligd met Paypal -
              Mastercard - Visa - AMEX.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script>
  let elements = document.querySelectorAll('[data-menu]');

  for (let i = 0; i < elements.length; i++) {
    let main = elements[i];
    main.addEventListener('click', function () {
      let element = main.parentElement.parentElement;
      let andicators = main.querySelectorAll('img');
      let child = element.querySelector('ul');
      let fontColor = element.querySelector('h2');
      child.classList.toggle('hidden');
      if (child.classList[0] !== 'hidden') {
        andicators[0].style.display = 'block';
        andicators[1].style.display = 'none';
        fontColor.style.color = '#ef2e30';
      } else {
        andicators[0].style.display = 'none';
        andicators[1].style.display = 'block';
        fontColor.style.color = '#1F2937';
      }
    });
  }
</script>
