{% paginate blog.articles by 6 %}
  {% for a in blog.articles %}
    <article class="flex flex-col m-4 shadow-sm ">
      <a href="{{ a.url }}">
        <h1>{{ a.title }}</h1>
        <img src="{{ a.image |  image_url: width: '500px'  }}" alt="{{ a.image.alt }}" width="500" height="500">
      </a>
    </article>
  {% endfor %}
  {% render 'pagination', pagination: paginate %}
{% endpaginate %}
