{% comment %}
  <style>
    /* CSS Code */
    .swiper-wrapper {
      width: 100%;
      height: max-content !important;
      padding-bottom: 64px !important;
      -webkit-transition-timing-function: linear !important;
      transition-timing-function: linear !important;
      position: relative;
    }
    .swiper-pagination-bullet {
      background: #4f46e5;
    }
    .swiper-pagination-bullet-active {
      background: #4f46e5 !important;
    }
  </style>
  <div class="relative w-full">
    <div class="relative swiper centered-slide-carousel swiper-container ">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="flex items-center justify-center bg-indigo-50 rounded-2xl h-96">
            <span class="text-3xl font-semibold text-indigo-600">Slide 1 </span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="flex items-center justify-center bg-indigo-50 rounded-2xl h-96">
            <span class="text-3xl font-semibold text-indigo-600">Slide 2 </span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="flex items-center justify-center bg-indigo-50 rounded-2xl h-96">
            <span class="text-3xl font-semibold text-indigo-600">Slide 3 </span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="flex items-center justify-center bg-indigo-50 rounded-2xl h-96">
            <span class="text-3xl font-semibold text-indigo-600">Slide 4 </span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="flex items-center justify-center bg-indigo-50 rounded-2xl h-96">
            <span class="text-3xl font-semibold text-indigo-600">Slide 5 </span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="flex items-center justify-center bg-indigo-50 rounded-2xl h-96">
            <span class="text-3xl font-semibold text-indigo-600">Slide 6 </span>
          </div>
        </div>
      </div>
      <div class="swiper-pagination "></div>
    </div>
  </div>

  <!-- Swiper JS (deferred and served from Shopify CDN) -->
  <script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.centered-slide-carousel', {
      centeredSlides: true,
      paginationClickable: true,
      loop: true,
      spaceBetween: 30,
      slideToClickedSlide: true,
      pagination: {
        el: '.centered-slide-carousel .swiper-pagination',
        clickable: true,
      },
      breakpoints: {
        1920: {
          slidesPerView: 4,
          spaceBetween: 30,
        },
        1028: {
          slidesPerView: 2,
          spaceBetween: 10,
        },
        990: {
          slidesPerView: 1,
          spaceBetween: 0,
        },
      },
    });
  </script>
  {% schema %}
  {
    "name": "Carousel",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Select collection"
      }
    ]
  }
  {% endschema %}
{% endcomment %}
