<section class='px-padding-responsive mx-auto flex max-w-7xl flex-col gap-10  py-10'>
  <h1 class='text-center text-3xl text-secondary'>Retourbeleid</h1>
  <div class='mx-auto flex flex-col gap-2'>
    <h2 class='text-3xl'>Algemeen</h2>
    <article class='flex max-w-[70ch] flex-col gap-2'>
      <h3 class='text-2xl'>Retourtermijn en voorwaarden</h3>
      <p class=''>
        We hebben een retourbeleid van 30 dagen, wat betekent dat je na ontvangst van je artikel 30 dagen de tijd hebt
        om een retour aan te vragen.
      </p>
      <p class=''>
        Om in aanmerking te komen voor een retournering, moet uw artikel in dezelfde staat verkeren als waarin u het
        heeft ontvangen, ongedragen of ongebruikt, met kaartjes en in de originele verpakking. Je hebt ook de kassabon
        of het aankoopbewijs nodig.
      </p>
    </article>
    <article class='flex max-w-[70ch] flex-col gap-2'>
      <h3 class='text-2xl'>Hoe uitoefenen</h3>
      <p class=''>
        Om het herroepingsrecht uit te oefenen, moet u ons (Tedroka, Koningsdreef 9, 3261 NJ, OUD-BEIJERLAND,
        info@tedroka.nl, Contactnr. 0630728080) door middel van een ondubbelzinnige verklaring (bijv. schriftelijk per
        post, fax of e-mail) op de hoogte stellen van uw beslissing om de overeenkomst te herroepen.
      </p>
    </article>
  </div>
  <div class='mx-auto flex flex-col gap-2'>
    <h2 class='text-3xl'>Beschadigingen en problemen</h2>
    <article class='flex max-w-[70ch] flex-col gap-2'>
      <h3 class='text-2xl'>Voorzorgsmaatregelen</h3>
      <p>
        Inspecteer uw bestelling bij ontvangst en neem onmiddellijk contact met ons op als het artikel defect of
        beschadigd is of als u het verkeerde artikel ontvangt, zodat we het probleem kunnen evalueren en oplossen.
      </p>
      <p>
        Als je beschadigde producten ontvangt, neem dan contact met ons op en stuur ons zo snel mogelijk een video.
        Zodat we het probleem voor je kunnen oplossen.
      </p>
    </article>
    <article class='flex max-w-[70ch] flex-col gap-2'>
      <h3 class='text-2xl'>Ruilen</h3>
      <p>
        De snelste manier om er zeker van te zijn dat u krijgt wat u wilt, is door het item dat u heeft te retourneren
        en zodra de retourzending is geaccepteerd, een afzonderlijke aankoop te doen voor het nieuwe item.
      </p>
    </article>
    <article class='flex max-w-[70ch] flex-col gap-2'>
      <h3 class='text-2xl'>Terugbetalingen</h3>
      <p>
        We zullen u op de hoogte stellen zodra we uw retourzending hebben ontvangen en geïnspecteerd, en u laten weten
        of de terugbetaling is goedgekeurd of niet. Indien goedgekeurd, wordt u automatisch terugbetaald via uw
        oorspronkelijke betaalmethode. Houd er rekening mee dat het enige tijd kan duren voordat uw bank of
        creditcardmaatschappij de terugbetaling heeft verwerkt en geboekt.
      </p>
    </article>
  </div>
</section>
