<div class="shipping-page-item">
  <div class="shipping-page-item__text">
    <div class="shipping-page-item">
      <div class="shipping-page-item__text">
        <h3><span>GRATIS VERZENDING</span></h3>
        <p>
          <span
            >We zijn blij om onze klanten veel waarde en service te bieden.<span>&nbsp;</span>Daarom bieden we gratis
            verzending vanuit onze magazijnen in China via ePacket of EMS en in de VS via USPS.</span
          >
        </p>
      </div>
    </div>
    <div class="shipping-page-item">
      <div class="shipping-page-item__image">
        <svg
          xml:space="preserve"
          viewBox="0 0 83.667 83.667"
          height="53px"
          width="62px"
          y="0px"
          x="0px"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          enable-background="new 0 0 83.667 83.667"
          xmlns:graph="&amp;ns_graphs;"
          xmlns:i="&amp;ns_ai;"
          xmlns:x="&amp;ns_extend;"
        >
          <switch><g i:extraneous="self"><g><path d="M50.039,80.893c-2.723,0.579-5.499,0.871-8.283,0.871c-22.004,0-39.841-17.837-39.841-39.841
          c0-22.004,17.837-39.841,39.841-39.841c22.004,0,39.841,17.837,39.841,39.841c0,7.702-2.233,15.24-6.427,21.699" stroke-miterlimit="22.9256" stroke-linejoin="round" stroke-linecap="round" stroke-width="2.8347" stroke="#6b4c90" fill="none"></path><path d="M41.167,60.346l-3.334,3.334v-7.499c0-0.089-0.013-0.178-0.042-0.263L33.2,42.147l4.146-4.146h8.649l4.308,8.615L41.167,60.346
          L41.167,60.346z M47.252,36.797c-0.139-0.281-0.428-0.46-0.744-0.46h-9.507c-0.221,0-0.432,0.088-0.589,0.244l-4.752,4.753
          c-0.225,0.223-0.302,0.552-0.202,0.852l4.711,14.13v9.371c0,0.337,0.202,0.639,0.513,0.769c0.285,0.118,0.651,0.076,0.907-0.18
          l4.857-4.88l9.507-14.258c0.166-0.249,0.185-0.567,0.052-0.834L47.252,36.797L47.252,36.797z" stroke-miterlimit="22.9256" stroke-linejoin="round" stroke-linecap="round" stroke-width="0.9071" stroke="#8C9092" fill="#8C9092"></path><path d="M60.765,40.746l-4.162-4.165c-0.156-0.156-0.367-0.244-0.588-0.244h-4.24l-4.523-9.045c-0.229-0.466-0.903-0.648-1.332-0.216
          l-4.51,4.509h-8.649l-4.257-8.51l8.958-8.977l6.786-4.508c12.487,0.955,23.016,9.006,27.551,20.124L60.765,40.746L60.765,40.746z
           M74.194,41.923c0,5.974-1.632,11.574-4.462,16.386l-8.704-2.916c-0.289-0.101-0.624-0.023-0.851,0.2l-4.75,4.754
          c-0.325,0.325-0.325,0.851,0,1.176l6.095,6.094c-2.665,2.055-5.655,3.707-8.881,4.86c-2.656-1.897-6.307-2.869-10.885-2.869
          c-4.578,0-8.23,0.971-10.886,2.869c-2.598-0.929-5.047-2.176-7.293-3.702v-7.84c0-0.221-0.088-0.433-0.244-0.588l-4.753-4.754
          c-0.256-0.255-0.637-0.318-0.958-0.157l-4.279,2.118c-0.609-1.103-1.152-2.245-1.632-3.42l2.116-2.118
          c0.156-0.156,0.243-0.367,0.243-0.588v-9.16l4.509-4.51c0.156-0.156,0.244-0.367,0.244-0.588v-4.752
          c0-0.46-0.374-0.832-0.832-0.832h-4.308l-1.694-2.541C16.938,17.651,28.239,9.637,41.397,9.493l-4.983,3.324l-9.506,9.505
          c-0.253,0.253-0.315,0.64-0.155,0.96l4.753,9.507c0.139,0.282,0.429,0.46,0.744,0.46h9.507c0.22,0,0.432-0.088,0.588-0.243
          l3.938-3.938l4.237,8.474c0.14,0.281,0.429,0.459,0.745,0.459h4.409l4.506,4.51c0.323,0.323,0.852,0.323,1.176,0l11.087-11.084
          C73.571,34.721,74.194,38.25,74.194,41.923L74.194,41.923z M62.819,66.561l-5.627-5.626l3.798-3.802l7.84,2.626
          C67.151,62.299,65.124,64.587,62.819,66.561L62.819,66.561z M41.755,74.361c-3.051,0-6.001-0.433-8.802-1.224
          c2.259-1.232,5.201-1.866,8.802-1.866c3.601,0,6.543,0.634,8.801,1.866C47.755,73.928,44.806,74.361,41.755,74.361L41.755,74.361
          z M21.913,67.557c-3.055-2.37-5.676-5.269-7.724-8.564l3.638-1.801l4.087,4.087V67.557L21.913,67.557z M9.317,41.923
          c0-3.861,0.681-7.564,1.924-11.002l1.306,1.958c0.153,0.23,0.412,0.37,0.692,0.37h3.922v3.576l-4.51,4.509
          c-0.156,0.156-0.244,0.367-0.244,0.589v9.16L11.07,52.42C9.939,49.125,9.317,45.596,9.317,41.923L9.317,41.923z M41.755,7.821
          c-18.806,0-34.102,15.298-34.102,34.102c0,18.803,15.296,34.102,34.102,34.102c18.805,0,34.102-15.298,34.102-34.102
          C75.857,23.119,60.56,7.821,41.755,7.821L41.755,7.821z" stroke-miterlimit="22.9256" stroke-linejoin="round" stroke-linecap="round" stroke-width="0.9071" stroke="#8C9092" fill="#8C9092"></path></g></g></switch>
        </svg>
      </div>
      <span></span>
      <div class="shipping-page-item__text">
        <h3><span>VERZENDING NAAR MEER DAN 200 LANDEN</span></h3>
        <p>
          <span
            >We zijn er trots op internationale verzenddiensten aan te bieden.<span>&nbsp;</span>Er zijn echter enkele
            locaties waar we niet naar kunnen verzenden.<span>&nbsp;</span>Als je toevallig uit een van die landen komt,
            nemen we contact met je op.</span
          >
        </p>
      </div>
    </div>
    <div class="shipping-page-item">
      <div class="shipping-page-item__image">
        <svg
          xml:space="preserve"
          viewBox="0 0 84.083 82.125"
          height="54px"
          width="70px"
          y="0px"
          x="0px"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          enable-background="new 0 0 84.083 82.125"
          xmlns:graph="&amp;ns_graphs;"
          xmlns:i="&amp;ns_ai;"
          xmlns:x="&amp;ns_extend;"
        >
          <switch><g i:extraneous="self"><g><path d="M37.989,25.218V14.98l10.079,10.238H37.989L37.989,25.218z M46.32,72.229H2.548V13.281h2.467V25.07
          c0,4.551,3.701,8.253,8.253,8.253c4.55,0,8.253-3.702,8.253-8.253V13.281h14.111v14.295h14.073v13.152l2.358-1.195V25.914
          L37.305,10.923H21.521V6.208h-2.358v4.716h-2.358V6.208c0-3.25-2.646-5.895-5.895-5.895c-3.25,0-5.895,2.644-5.895,5.895v4.716
          H0.187v63.664h49.837L46.32,72.229L46.32,72.229z M7.373,6.208c0-1.95,1.586-3.537,3.537-3.537c1.948,0,3.537,1.587,3.537,3.537
          v4.716h-2.358V6.232H9.731v4.691H7.373V6.208L7.373,6.208z M12.089,13.281h2.358V25.07c0,0.65-0.528,1.179-1.179,1.179
          c-0.651,0-1.179-0.53-1.179-1.179V13.281L12.089,13.281z M19.163,13.281V25.07c0,3.25-2.646,5.895-5.895,5.895
          c-3.25,0-5.895-2.644-5.895-5.895V13.281h2.358V25.07c0,1.95,1.586,3.537,3.537,3.537c1.949,0,3.537-1.587,3.537-3.537V13.281
          H19.163L19.163,13.281z" stroke-miterlimit="22.9256" stroke-linejoin="round" stroke-linecap="round" stroke-width="0.3013" stroke="#8C9092" fill="#8C9092"></path><path d="M61.043,80.614l21.524-11.217V45.838L61.043,34.982L39.619,45.838v23.559L61.043,80.614L61.043,80.614z M39.619,45.838
          l21.474,11.217l21.574-11.217 M61.093,57.351v23.263 M68.554,38.736L47.672,50.193v4.474l0.911,0.107l1.543,1.688l1.627,0.329
          l1.287,1.212v-5.126L74.246,41.6L68.554,38.736L68.554,38.736z" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" stroke-width="2.7138" stroke="#6b4c90" fill="none"></path></g></g></switch>
        </svg>
      </div>
      <span></span>
      <div class="shipping-page-item__text">
        <h3><span>DOUANE</span></h3>
        <p>
          <span
            >Wij zijn niet verantwoordelijk voor eventuele aangepaste kosten zodra de artikelen zijn verzonden.<span
              >&nbsp;</span
            >Door onze producten te kopen, stemt u ermee in dat een of meer pakketten naar u kunnen worden verzonden en
            mogelijk aangepaste kosten krijgen wanneer ze in uw land aankomen.</span
          >
        </p>
      </div>
    </div>
    <div class="shipping-page-item">
      <div class="shipping-page-item__image">
        <svg
          xml:space="preserve"
          viewBox="0 0 80.36 75.538"
          height="45px"
          width="58px"
          y="0px"
          x="0px"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          enable-background="new 0 0 80.36 75.538"
          xmlns:graph="&amp;ns_graphs;"
          xmlns:i="&amp;ns_ai;"
          xmlns:x="&amp;ns_extend;"
        >
          <switch><g i:extraneous="self"><g><path d="M77.145,20.893H3.214V11.25c0-1.773,1.442-3.214,3.214-3.214h12.857v3.66
          c-0.956,0.557-1.607,1.583-1.607,2.769c0,1.776,1.438,3.215,3.214,3.215c1.776,0,3.215-1.438,3.215-3.215
          c0-1.186-0.651-2.212-1.607-2.769v-3.66h35.358v3.66c-0.956,0.557-1.607,1.583-1.607,2.769c0,1.776,1.439,3.215,3.214,3.215
          c1.776,0,3.214-1.438,3.214-3.215c0-1.186-0.651-2.212-1.607-2.769v-3.66h12.857c1.773,0,3.214,1.441,3.214,3.214V20.893
          L77.145,20.893z M77.145,69.109c0,1.773-1.442,3.215-3.214,3.215H6.429c-1.773,0-3.214-1.441-3.214-3.215V24.108h73.931V69.109
          L77.145,69.109z M73.931,4.821H61.074V1.607C61.074,0.718,60.355,0,59.466,0c-0.889,0-1.607,0.718-1.607,1.607v3.214H22.501
          V1.607C22.501,0.718,21.782,0,20.893,0c-0.889,0-1.607,0.718-1.607,1.607v3.214H6.429C2.883,4.821,0,7.705,0,11.25v57.859
          c0,3.545,2.883,6.429,6.429,6.429h67.502c3.545,0,6.429-2.884,6.429-6.429V11.25C80.36,7.705,77.476,4.821,73.931,4.821
          L73.931,4.821z" fill="#8C9092"></path><path d="M12.857,32.144h11.251v8.035H12.857V32.144L12.857,32.144z M38.573,32.144v8.035h-11.25v-8.035H38.573
          L38.573,32.144z M53.037,32.144v8.035h-11.25v-8.035H53.037L53.037,32.144z M67.502,32.144v8.035H56.252v-8.035H67.502
          L67.502,32.144z M56.252,62.68v-8.036h11.252l0.002,8.036H56.252L56.252,62.68z M12.857,54.644h11.251v8.036H12.857V54.644
          L12.857,54.644z M24.108,51.43H12.857v-8.036h11.251V51.43L24.108,51.43z M38.573,51.43h-11.25v-8.036h11.25V51.43L38.573,51.43z
           M38.573,62.68h-11.25v-8.036h11.25V62.68L38.573,62.68z M41.787,54.644h11.25v8.036h-11.25V54.644L41.787,54.644z M53.037,51.43
          h-11.25v-8.036h11.25V51.43L53.037,51.43z M67.504,51.43H56.252v-8.036h11.251c0,0,0,0,0.001,0V51.43L67.504,51.43z
           M12.857,65.895h54.645c1.773,0,3.214-1.441,3.214-3.214V32.144c0-1.773-1.441-3.214-3.214-3.214H12.857
          c-1.772,0-3.214,1.441-3.214,3.214V62.68C9.643,64.453,11.085,65.895,12.857,65.895L12.857,65.895z" fill="#6b4c90"></path></g></g></switch>
        </svg>
      </div>
      <span></span>
      <div class="shipping-page-item__text">
        <h3>LEVERTIJD</h3>
        <p>
          <span>De verzendtijd verschilt per locatie.<span>&nbsp;</span>Dit zijn onze schattingen:</span>
        </p>
        <div class="table-responsive">
          <div class="table-responsive">
            <div class="table-wrapper">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th><span>Plaats</span></th>
                    <th><span>* Geschatte levertijd</span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><span>Verenigde Staten</span></td>
                    <td><span>10-30 werkdagen</span></td>
                  </tr>
                  <tr>
                    <td><span>Canada, Europa</span></td>
                    <td><span>10-30 werkdagen</span></td>
                  </tr>
                  <tr>
                    <td><span>Australië, Nieuw-Zeeland</span></td>
                    <td><span>10-30 werkdagen</span></td>
                  </tr>
                  <tr>
                    <td><span>Mexico, Midden-Amerika, Zuid-Amerika</span></td>
                    <td><span>15-30 werkdagen</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="info-no-italic"><span>Maximale levertijd - 45 werkdagen.</span></div>
          <p>
            <span class="info"><span>*Dit is exclusief onze verwerkingstijd van 2-5 dagen.</span></span>
          </p>
        </div>
      </div>
    </div>
    <div class="shipping-page-item">
      <div class="shipping-page-item__image">
        <svg
          xml:space="preserve"
          viewBox="0 0 85.5 76.625"
          height="53px"
          width="70px"
          y="0px"
          x="0px"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          enable-background="new 0 0 85.5 76.625"
          xmlns:graph="&amp;ns_graphs;"
          xmlns:i="&amp;ns_ai;"
          xmlns:x="&amp;ns_extend;"
        >
          <switch><g i:extraneous="self"><g><path d="M68.109,59.969c-6.655,9.089-17.41,14.989-29.533,14.989c-20.2,0-36.568-16.373-36.568-36.571
          c0-20.203,16.368-36.576,36.568-36.576c5.347,0,10.427,1.151,15.008,3.211 M38.576,61.95v13.008 M38.576,1.812V14.36 M2,38.383
          h16.867 M14.597,10.773c5.708,1.749,14.052,3.62,24.22,3.592c2.049-0.005,4.029-0.089,5.932-0.232 M62.469,66.052
          c-5.373-1.898-13.863-4.178-24.444-4.102c-10.039,0.078-18.116,2.248-23.368,4.102 M29.957,2.841
          c-3.1,4.483-11.107,17.325-11.09,35.612c0.017,18.205,7.982,30.986,11.09,35.475 M57.725,46.757
          c-1.877,13.777-7.913,23.402-10.522,27.172 M47.203,2.841c0.818,1.184,1.98,2.95,3.246,5.242 M38.817,14.365V61.95
           M18.867,38.454h27.173" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" stroke-width="2.8347" stroke="#8C9092" fill="none"></path><path d="M76.125,45.24l0.404,1.012l2.365,5.911l1.821,4.567l2.686,6.727c0.766,1.907-0.033,4.137-1.895,5.006
          c-0.132,0.068-0.264,0.122-0.404,0.175l-0.058,0.021c-1.969,0.683-4.128-0.371-4.895-2.31l-2.67-6.685l-1.821-4.566l-2.365-5.906
          l-0.412-1.055l1.203-0.482l4.697-1.875L76.125,45.24L76.125,45.24z M78.078,35.588c1.12-1.647,1.936-3.475,2.414-5.408
          c0.313-1.282,0.486-2.606,0.495-3.952c0.008-2.092-0.371-4.216-1.195-6.277c-0.849-2.119-2.077-3.978-3.601-5.503
          c-2.15-2.203-4.878-3.762-7.828-4.513c-3.321-0.858-6.93-0.699-10.358,0.668c-2.901,1.155-5.307,3.05-7.07,5.377
          c-0.354,0.461-0.692,0.938-0.997,1.435c-0.634,1.049-1.162,2.166-1.557,3.326c-1.261,3.671-1.269,7.776,0.272,11.643
          c1.805,4.502,5.348,7.792,9.542,9.408c3.815,1.483,8.166,1.579,12.245-0.059C73.669,40.451,76.265,38.269,78.078,35.588
          L78.078,35.588z M72.334,46.755l-1.994-4.916" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" stroke-width="2.8346" stroke="#6b4c90" fill="none"></path><path d="M64.225,14.043c6.697,0,12.126,5.429,12.126,12.126s-5.429,12.126-12.126,12.126c-6.697,0-12.126-5.429-12.126-12.126
          S57.528,14.043,64.225,14.043L64.225,14.043z" stroke-miterlimit="22.9256" stroke-linejoin="round" stroke-linecap="round" stroke-width="2.8347" stroke="#6b4c90" fill="none"></path></g></g></switch>
        </svg>
      </div>
      <span></span>
      <div class="shipping-page-item__text">
        <h3><span>VOLGINFORMATIE</span></h3>
        <p>
          <span
            >U ontvangt een e-mail met een trackingnummer zodra uw bestelling is verzonden, maar soms is tracking
            vanwege gratis verzending niet beschikbaar.<span>&nbsp;</span>Om logistieke redenen kunnen artikelen in
            dezelfde aankoop in afzonderlijke pakketten worden verzonden, zelfs als u gecombineerde verzending hebt
            opgegeven.</span
          >
        </p>
        <p>
          <span
            >Als je nog andere vragen hebt, neem dan contact met ons op en we zullen ons best doen om je te helpen.</span
          >
        </p>
      </div>
    </div>
  </div>
</div>
<div class="shipping-page-item">
  <div class="shipping-page-item__text"></div>
</div>
