<div class="terms-conditions">
    <h2>Algemene voorwaarden Tedroka B.V</h2>
    <p><a href="https://tedroka.nl" target="_blank">https://tedroka.nl</a></p>
    <p>Algemene voorwaarden op basis van modelvoorwaarden van WebwinkelKeur.</p>

    <h3>Inhoudsopgave</h3>
    <ul>
        <li>Artikel 1 - Definities</li>
        <li>Artikel 2 - Identiteit van de ondernemer</li>
        <li>Artikel 3 - Toepasselijkheid</li>
        <li>Artikel 4 - Het aanbod</li>
        <li>Artikel 5 - De overeenkomst</li>
        <li>Artikel 6 - Herroepingsrecht</li>
        <li>Artikel 7 - Kosten​⬤