<div class='mx-auto px-4 py-16 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8 lg:py-20'>
  <div class='max-w-xl sm:mx-auto lg:max-w-2xl'>
    <div class='mb-10 max-w-xl sm:text-center md:mx-auto md:mb-12 lg:max-w-2xl'>
      <div>
        <p class='bg-teal-accent-400 mb-4 inline-block rounded-full px-3 py-px text-xs font-semibold uppercase tracking-wider text-red-900'>
          Shipping Policy
        </p>
      </div>
      <h2 class='mb-6 max-w-lg font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto'>
        <span class='relative inline-block'>
          <svg
            viewBox='0 0 52 24'
            fill='currentColor'
            class='text-blue-gray-100 absolute left-0 top-0 z-0 -ml-20 -mt-8 hidden w-32 sm:block lg:-ml-28 lg:-mt-10 lg:w-32'
          >
            <defs>
              <pattern id="70326c9b-4a0f-429b-9c76-792941e326d5" x="0" y="0" width=".135" height=".30">
                <circle cx="1" cy="1" r=".7"></circle>
              </pattern>
            </defs>
            <rect fill="url(#70326c9b-4a0f-429b-9c76-792941e326d5)" width="52" height="24"></rect>
          </svg>
          <h1 class='relative'>Our</h1>
        </span>
        Shipping Policy
      </h2>
    </div>
  </div>
  <div class='max-w-screen-xl sm:mx-auto'>
    <div class='row-gap-8 grid grid-cols-1 gap-16 lg:grid-cols-2'>
      <div class='space-y-8'>
        <h3 class='mb-4 text-xl font-bold text-red-700'>GRATIS VERZENDING</h3>
        <p class='text-gray-700'>
          We zijn blij om onze klanten veel waarde en service te bieden. Daarom bieden we gratis verzending vanuit onze
          magazijnen in China via ePacket of EMS en in de VS via USPS.
        </p>
      </div>
      <div class='space-y-8'>
        <h3 class='mb-4 text-xl font-bold text-red-700'>VERZENDING NAAR MEER DAN 200 LANDEN</h3>
        <div class='flex items-start gap-4'>
          <figure>
            {% render 'icon-world' %}
          </figure>
          <p class='text-gray-700'>
            We zijn er trots op internationale verzenddiensten aan te bieden. Er zijn echter enkele locaties waar we
            niet naar kunnen verzenden. Als je toevallig uit een van die landen komt, nemen we contact met je op.
          </p>
        </div>
      </div>
      <div class='space-y-8'>
        <h3 class='mb-4 text-xl font-bold text-red-700'>DOUANE</h3>
        <div class='flex items-start gap-4'>
          <figure>
            {% render 'icon-border-control' %}
          </figure>
          <p class='text-gray-700'>
            Wij zijn niet verantwoordelijk voor eventuele aangepaste kosten zodra de artikelen zijn verzonden. Door onze
            producten te kopen, stemt u ermee in dat een of meer pakketten naar u kunnen worden verzonden en mogelijk
            aangepaste kosten krijgen wanneer ze in uw land aankomen.
          </p>
        </div>
      </div>
      <div class='space-y-8'>
        <h3 class='mb-4 text-xl font-bold text-red-700'>LEVERTIJD</h3>
        <div class='flex items-start gap-4'>
          <figure>
            {% render 'icon-follow' %}
          </figure>
          <p class='mb-4 text-gray-700'>De verzendtijd verschilt per locatie. Dit zijn onze schattingen:</p>
        </div>

        <table class='whitespace-no-wrap mt-8 w-full table-auto text-left'>
          <thead>
            <tr>
              <th class='px-4 py-2'>Plaats</th>
              <th class='px-4 py-2'>* Geschatte levertijd</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class='border px-4 py-2'>Verenigde Staten</td>
              <td class='border px-4 py-2'>10-30 werkdagen</td>
            </tr>
            <tr>
              <td class='border px-4 py-2'>Canada, Europa</td>
              <td class='border px-4 py-2'>10-30 werkdagen</td>
            </tr>
            <tr>
              <td class='border px-4 py-2'>Australië, Nieuw-Zeeland</td>
              <td class='border px-4 py-2'>10-30 werkdagen</td>
            </tr>
            <tr>
              <td class='border px-4 py-2'>Mexico, Midden-Amerika, Zuid-Amerika</td>
              <td class='border px-4 py-2'>15-30 werkdagen</td>
            </tr>
          </tbody>
        </table>
        <div>
          <p class='mt-4 text-sm text-gray-700'>Maximale levertijd - 45 werkdagen.</p>
          <p class='text-sm text-gray-700'>*Dit is exclusief onze verwerkingstijd van 2-5 dagen.</p>
        </div>
      </div>
      <div class='space-y-8'>
        <h3 class='mb-4 text-xl font-bold text-red-700'>VOLGINFORMATIE</h3>
        <div class='flex items-start gap-4'>
          <figure>
            {% render 'icon-delivery-date' %}
          </figure>
          <p class='text-gray-700'>
            U ontvangt een e-mail met een trackingnummer zodra uw bestelling is verzonden, maar soms is tracking vanwege
            gratis verzending niet beschikbaar. Om logistieke redenen kunnen artikelen in dezelfde aankoop in
            afzonderlijke pakketten worden verzonden, zelfs als u gecombineerde verzending hebt opgegeven.
          </p>
        </div>
      </div>
      <div class='space-y-8'>
        <div>
          <h3 class='mb-4 text-xl font-bold text-red-700'>VRAGEN</h3>
          <p class='text-gray-700'>
            Mocht je verder nog vragen hebben, aarzel dan zeker niet om ons te contacteren. Dit doe je gemakkelijk door
            via ons <a href='/pages/contact' class='text-bold text-red-700 underline'>contactformulier</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
