.scroll-trigger.animate--fade-in {
    animation: slideIn 0.8s ease-in-out;
}

.scroll-trigger--offscreen {
    transform: translateY(2rem);
    opacity: 0.01;
}

.scroll-trigger {
    transition: all 0.8s ease-in-out;
}

/* ANIMATIONS*/
@keyframes slideIn {
    from {
        transform: translateY(2rem);
        opacity: 0.01;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}